<div class="row">
        <table class="col table table-light table-sm table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th>제목</th>
                    <th>카테고리</th>
                    <th>글쓴이</th>
                    <th>댓글</th>
                    <th>좋아요</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>스택과 큐의 질문입니다.!!</td>
                    <td>질문</td>
                    <td>gmsa3525</td>
                    <td>2</td>
                    <td>0</td>
                    <td>30분전</td>
                </tr>
                <tr>
                    <td>런타임에러는 왜뜨는 걸까요?</td>
                    <td>질문</td>
                    <td>ckslado22</td>
                    <td>4</td>
                    <td>0</td>
                    <td>2시간전</td>
                </tr>
                <tr>
                    <td>어디가 틀렸는지 모르겠습니다!</td>
                    <td>질문</td>
                    <td>ratis</td>
                    <td>1</td>
                    <td>0</td>
                    <td>5시간전</td>
                </tr>
                <tr>
                    <td>스택과 큐의 질문입니다.!!</td>
                    <td>질문</td>
                    <td>gmsa3525</td>
                    <td>2</td>
                    <td>0</td>
                    <td>6시간전</td>
                </tr>
                <tr>
                    <td>런타임에러는 왜뜨는 걸까요?</td>
                    <td>질문</td>
                    <td>ckslado22</td>
                    <td>4</td>
                    <td>0</td>
                    <td>6시간전</td>
                </tr>
                <tr>
                    <td>UCPC 2019 참가자 여러분들께</td>
                    <td>자유</td>
                    <td>startlink</td>
                    <td>20</td>
                    <td>5</td>
                    <td>8시간전</td>
                </tr>
                <tr>
                    <td>스택과 큐의 질문입니다.!!</td>
                    <td>질문</td>
                    <td>gmsa3525</td>
                    <td>2</td>
                    <td>0</td>
                    <td>9시간전</td>
                </tr>
                <tr>
                    <td>런타임에러는 왜뜨는 걸까요?</td>
                    <td>질문</td>
                    <td>ckslado22</td>
                    <td>4</td>
                    <td>0</td>
                    <td>12시간전</td>
                </tr>
                <tr>
                    <td>어디가 틀렸는지 모르겠습니다!</td>
                    <td>질문</td>
                    <td>ratis</td>
                    <td>1</td>
                    <td>0</td>
                    <td>14시간전</td>
                </tr>
                <tr>
                    <td>왜 출력초과가 뜨나요?</td>
                    <td>질문</td>
                    <td>chminoo</td>
                    <td>10</td>
                    <td>2</td>
                    <td>1일전</td>
                </tr>
                <tr>
                    <td>스택과 큐의 질문입니다.!!</td>
                    <td>질문</td>
                    <td>gmsa3525</td>
                    <td>2</td>
                    <td>0</td>
                    <td>30분전</td>
                </tr>
                <tr>
                    <td>런타임에러는 왜뜨는 걸까요?</td>
                    <td>질문</td>
                    <td>ckslado22</td>
                    <td>4</td>
                    <td>0</td>
                    <td>2시간전</td>
                </tr>
                <tr>
                    <td>어디가 틀렸는지 모르겠습니다!</td>
                    <td>질문</td>
                    <td>ratis</td>
                    <td>1</td>
                    <td>0</td>
                    <td>5시간전</td>
                </tr>
                <tr>
                    <td>스택과 큐의 질문입니다.!!</td>
                    <td>질문</td>
                    <td>gmsa3525</td>
                    <td>2</td>
                    <td>0</td>
                    <td>6시간전</td>
                </tr>
                <tr>
                    <td>런타임에러는 왜뜨는 걸까요?</td>
                    <td>질문</td>
                    <td>ckslado22</td>
                    <td>4</td>
                    <td>0</td>
                    <td>6시간전</td>
                </tr>
                <tr>
                    <td>UCPC 2019 참가자 여러분들께</td>
                    <td>자유</td>
                    <td>startlink</td>
                    <td>20</td>
                    <td>5</td>
                    <td>8시간전</td>
                </tr>
                <tr>
                    <td>스택과 큐의 질문입니다.!!</td>
                    <td>질문</td>
                    <td>gmsa3525</td>
                    <td>2</td>
                    <td>0</td>
                    <td>9시간전</td>
                </tr>
                <tr>
                    <td>런타임에러는 왜뜨는 걸까요?</td>
                    <td>질문</td>
                    <td>ckslado22</td>
                    <td>4</td>
                    <td>0</td>
                    <td>12시간전</td>
                </tr>
                <tr>
                    <td>어디가 틀렸는지 모르겠습니다!</td>
                    <td>질문</td>
                    <td>ratis</td>
                    <td>1</td>
                    <td>0</td>
                    <td>14시간전</td>
                </tr>
                <tr>
                    <td>왜 출력초과가 뜨나요?</td>
                    <td>질문</td>
                    <td>chminoo</td>
                    <td>10</td>
                    <td>2</td>
                    <td>1일전</td>
                </tr>



            </tbody>
        </table>
    </div>